@import '../../index.scss';

$diamond-size: 1.3rem;
$top: calc(($h1-font-size - $diamond-size) / 2);

.timelinePane {
  position: relative;
  z-index: 2;

  h1 {
    color: var(--h1-color);
    line-height: 1;
    min-height: 2.4rem;
    display: flex;
    align-items: center;
  }

  h2 {
    color: var(--role-color);
  }

  :global {
    .outline {
      fill: var(--illustration-outline-color);
    }

    .fill {
      fill: var(--illustration-bg-color);
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: 4.5rem !important;
  }
}

.illustration {
  @extend .me-lg-6;
  max-height: 280px;

  @include media-breakpoint-up(sm) {
    width: auto;
    height: 280px;
  }

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 4rem;
    right: 100%;
  }
}

.intro {
  position: relative;
  color: var(--timeline-p-color);

  &:after {
    content: '';
    width: $diamond-size;
    height: $diamond-size;
    transform: rotate(45deg);
    border: 2px solid var(--timeline-color);
    background-color: var(--timeline-bg-color);
    position: absolute;
    top: $top;
    left: calc($diamond-size / -2);
  }

  &:not(:last-child):before {
    content: '';
    width: 2px;
    background-color: var(--timeline-color);
    position: absolute;
    left: -1px;
    top: $top;
    bottom: -$top;
  }
}

.seeCode {
  color: var(--info-title-color) !important;
  text-decoration: none;
  background-color: var(--info-pane-color);
  border-radius: 4px;
  padding: 8px 16px;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}
